extends ../layouts/default

mixin livre(livre)
	.post(data-ks-editable=editable(user, { list: 'Livre', id: livre.id }))
		h2: a(href='/livre/post/' + livre.slug)= livre.titre
		p.lead.text-muted  
			if livre.categories && livre.categories.length
				| Catégorie(s) : 
				each cat, i in livre.categories
					a(href='/livre/' + cat.key)= cat.name
					if i < livre.categories.length - 1
						| , 
					else
						|  
			if livre.author
				| by #{post.author.name.first}
		
		p!= livre.resume

block intro
	.container
		h1= data.category ? data.category.name : 'Les livres'

block content
	.container: .row
		.col-sm-8.col-md-9
			if filters.categorie && !data.categorie
				h3.text-muted Catégorie invalide
			else
				if data.livres.results.length
					if data.livres.totalPages > 1
						h4.text-weight-normal Showing 
							strong #{data.posts.first}
							|  to 
							strong #{data.posts.last}
							|  of 
							strong #{data.posts.total}
							|  posts.
					else
						h4.text-weight-normal Il y a #{utils.plural(data.livres.results.length, '* livre')}.
					.blog
						each livre in data.livres.results
							+livre(livre)
					
					if data.livres.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.category
						h3.text-muted There are no posts in the category #{data.category.name}.
					else
						h3.text-muted There are no posts yet.
		
		if data.categories.length
			.col-sm-4.col-md-3
				h2 Categories
				.list-group(style='margin-top: 70px;')
					a(href='/livre', class=!data.categorie ? 'active' : false).list-group-item Toutes les catégories
					each cat in data.categories
						a(href='/livre/' + cat.key, class=data.categorie && data.categorie.id == cat.id ? 'active' : false).list-group-item= cat.name
